body,main
    {
    display: flex; 
    }
body
    {
    flex-direction: column;
    .work_on_smartphone
    }
main
    {
    flex-direction: row;
    flex:auto;
    }
atrticle
    {
    flex:2;
    }    
aside
    {
    flex:1;
    }
article,aside
    {
     overflow-y: auto;   
    }
background-color: blue;
